%div{:class => 'row'}
  %div{:class => 'span8'}
    %div{:class => 'well', :id => 'calendar'}
      %button{:class => 'btn btn-info', :id => 'legendPopup', :'data-toggle' => 'button'} Legend
  %div{:class => 'span4'}
    %div{:class => 'well'}
      %div
        %h4 Upcoming Reminders
        %table{:class => 'table'}
          %thead
            %tr
              %th Title
              %th Date and Time
          %tbody{:id => 'upcomingTable'}
            %tr
              %td Loading...
              %td 
                %img{:src => '/assets/ajax-loader.gif', :class => 'save_loader_img'}
      %a{:href => '#newReminder', :role => 'button', :class => 'btn', :'data-toggle' => 'modal'} Create a new Reminder
    %div{:class => 'well'}
      %div
        %h4 Events
        %table{:class => 'table'}
          %thead
            %tr
              %th Title
              %th 
          %tbody{:id => 'eventsTable'}
            %tr
              %td Loading...
              %td 
                %img{:src => '/assets/ajax-loader.gif', :class => 'save_loader_img'}
      %a{:href => '#newEvent', :id => 'newEventButton', :role => 'button', :class => 'btn', :'data-toggle' => 'modal'} Register for an Event

/ This is the new reminder modal
%div{:id => 'newReminder', :class => 'modal hide fade', :tabindex => '-1', :role => 'dialog', :'aria-labelledby' => 'New Reminder', :'aria-hidden' => 'true'}
  %div{:class => 'modal-header'}
    %button{:type => 'button', :class => 'close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
    %h3{:id => 'New Reminder'} Create a new Reminder
  %div{:class => 'modal-body'}
    = form_tag reminders_path, :id => 'new_reminder_form', :class => 'modal-form' do

      = label :reminder, :title, 'Reminder Title'
      = text_field :reminder, 'title'

      = label :reminder, :start, 'Date and Time'
      = text_field :reminder, :start, :class => 'date_picker_field'

      = label :reminder, :repeat, 'Repeat Interval'
      = text_field :reminder, :repeat

      = label :reminder, :customhtml, 'Custom Email HTML'
      = text_area :reminder, :customhtml, :rows => 5
      
  %div{:class => 'modal-footer'}
    %img{:src => '/assets/ajax-loader.gif', :class => 'save_loader_img new_loader', :style => 'display: none;'}
    %a{:href => '#', :id => 'save_reminder_link', :class => 'btn btn-primary'} Save Reminder
    %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

/ This is the edit reminder modal, and we're violating DRY with this
%div{:id => 'editReminder', :class => 'modal hide fade', :tabindex => '-1', :role => 'dialog', :'aria-labelledby' => 'Edit Reminder', :'aria-hidden' => 'true'}
  %div{:class => 'modal-header'}
    %button{:type => 'button', :class => 'close edit_close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
    %h3{:id => 'New Reminder'} Edit a Reminder
  %div{:class => 'modal-body'}
    = form_tag reminders_path, :id => 'edit_reminder_form', :class => 'modal-form', :method => 'put' do

      = label :edit_reminder, :title, 'Reminder Title'
      = text_field :edit_reminder, 'title'

      = label :edit_reminder, :start, 'Date and Time'
      = text_field :edit_reminder, :start, :class => 'date_picker_field'

      = label :edit_reminder, :repeat, 'Repeat Interval'
      = text_field :edit_reminder, :repeat

      = label :edit_reminder, :customhtml, 'Custom Email HTML'
      = text_area :edit_reminder, :customhtml, :rows => 5
      
  %div{:class => 'modal-footer'}
    %a{:href => '#', :id => 'delete_reminder_button', :class => 'btn btn-warning delete_btn'}Delete Reminder
    %img{:src => '/assets/ajax-loader.gif', :class => 'delete_loader_img delete_loader', :style => 'display: none;'}
    %img{:src => '/assets/ajax-loader.gif', :class => 'save_loader_img edit_loader', :style => 'display: none;'}
    %a{:href => '#', :id => 'edit_reminder_link', :class => 'btn btn-primary'} Save Reminder
    %button{:class => 'btn edit_close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

%div{:id => 'newEvent', :class => 'modal hide fade', :tabindex => '-1', :role => 'dialog', :'aria-labelledby' => 'New Event', :'aria-hidden' => 'true'}
  %div{:class => 'modal-header'}
    %button{:type => 'button', :class => 'close edit_close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
    %h3{:id => 'New Event'} Register for an Event
  %div{:class => 'modal-body'}
    %h4 Register for an Event
    %label Choose an Event Type:
    %select{:id => 'eventSelect'}
      %option{:value => '0'} 
      = @plugins.each do |plugin|
        %option{:value => plugin.id}= plugin.title
    %div{:id => 'pluginDescription', :style => 'display: none;'}
      %h5 Plugin Description
      %p
    %div{:id => 'eventFormBox'}
      %form{:id => 'eventForm'}
  %div{:class => 'modal-footer'}
    %img{:src => '/assets/ajax-loader.gif', :class => 'save_loader_img save_loader', :style => 'display: none;'}
    %a{:href => '#', :id => 'save_event_link', :class => 'btn btn-primary', :style => 'display: none;'} Register Event
    %button{:class => 'btn new_event_close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

%div{:id => 'editEvent', :class => 'modal hide fade', :tabindex => '-1', :role => 'dialog', :'aria-labelledby' => 'Edit Event', :'aria-hidden' => 'true'}
  %div{:class => 'modal-header'}
    %button{:type => 'button', :class => 'close edit_close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} x
    %h3{:id => 'Edit Event'} Edit an Event
  %div{:class => 'modal-body'}
    %div{:id => 'edit_pluginTitle'}
      %h4 
    %div{:id => 'edit_pluginDescription'}
      %h5 Plugin Description
      %p
    %div{:id => 'edit_eventFormBox'}
      %form{:id => 'edit_eventForm'}
  %div{:class => 'modal-footer'}
    %a{:href => '#', :id => 'delete_event_link', :class => 'btn btn-warning delete_btn'}Delete Event
    %img{:src => '/assets/ajax-loader.gif', :class => 'delete_loader_img delete_loader', :style => 'display: none;'}
    %img{:src => '/assets/ajax-loader.gif', :class => 'save_loader_img edit_loader', :style => 'display: none;'}
    %a{:href => '#', :id => 'edit_event_link', :class => 'btn btn-primary'} Save Changes
    %button{:class => 'btn new_event_close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

%div{:id => "SuperSecretAccessToken", :style => 'display: none;'}= @api_key_string

%div{:id => 'legendHTML', :style => 'display: none;'}
  %table{:class => 'table'}
    %thead
      %tr
        %td Reminder
        %td Source
    %tbody
      %tr
        %td
          %div{:class => "fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end ui-draggable", :style => "z-index: 8; background-color: rgb(5, 122, 240); border-color: rgb(115, 115, 115); color: rgb(255, 255, 255); width: 97px;", :unselectable => "on"}
            %div{:class => "fc-event-inner"}
              %span{:class => "fc-event-time"}8p
              %span{:class => "fc-event-title"} Title
            %div{:class => "ui-resizable-handle ui-resizable-e"}
        %td Your Reminder
      %tr
        %td
          %div{:class => "fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end ui-draggable", :style => "z-index: 8; background-color: rgb(255, 232, 0); border-color: rgb(115, 115, 115); color: rgb(0, 0, 0); width: 97px;", :unselectable => "on"}
            %div{:class => "fc-event-inner"}
              %span{:class => "fc-event-time"}8p
              %span{:class => "fc-event-title"} Title
            %div{:class => "ui-resizable-handle ui-resizable-e"}
        %td Event Reminder
      %tr
        %td
          %div{:class => "fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end ui-draggable", :style => "z-index: 8; background-color: rgb(23, 133, 16); border-color: rgb(115, 115, 115); color: rgb(255, 255, 255); width: 97px;", :unselectable => "on"}
            %div{:class => "fc-event-inner"}
              %span{:class => "fc-event-time"}8p
              %span{:class => "fc-event-title"} Title
            %div{:class => "ui-resizable-handle ui-resizable-e"}
        %td Org Reminder