%h2 Edit a Plugin
%div{:class => 'well'}
  = form_tag plugin_descriptor_path(@plugin), :id => 'new_plugin_form', :method => 'put' do
    %div{:class => 'row'}
      %div{:class => 'span3'}
        = label :plugin, :title, 'Plugin Title'
        = text_field :plugin, 'title'
      %div{:class => 'span7'}
        = label :plugin, :description, 'Description'
        = text_area :plugin, :description
    %div{:class => 'row'}
      %div{:class => 'span3'}
        = label :plugin, :filename, 'Filename'
        = text_field :plugin, :filename
      %div{:class => 'span7'}
        = label :plugin, :form_html, 'Form HTML'
        = text_area :plugin, :form_html

    = submit_tag 'Save Plugin', {:class => 'btn btn-primary'}
  %p This form sucks