-# edit.html.haml using partial

%div{:class => 'well'}
  %h1 Edit #{@group.name}

  %table{:id => 'group_users', :class => 'table'}
    %thead
      %tr
        %th Member Name
        %th Add/Remove Member 
        %th Modify Admin
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email 
          - if @group.owner_id == user.id
            %td Owner
          - elsif @group_users.exists?(user) && (user != @current_user)
            %td= button_to "Remove #{user.email}", delete_user_from_group_path(@group, :user_id => user, :page => 1), :method => :delete, :class => 'btn btn-danger'
          - elsif @group_users.exists?(user) && (user == @current_user)
            %td You
          - else
            %td= button_to "Add #{user.email}", add_user_to_group_path(@group, :user_id => user), :class => 'btn btn-success'
          - if @group.owner_id == user.id
            %td Owner
          - elsif user == @current_user
            %td You
          - elsif !GroupsUser.isAdmin?(@group, user)
            %td= button_to "Make Admin",  add_admin_group_path(@group, :user_id => user), :id => user.email, :class => 'btn btn-success'
          - else
            %td= button_to "Remove Admin", remove_admin_group_path(@group, :user_id => user), :id => user.email, :class => 'btn btn-danger'
          
= link_to "Back to group", group_path(@group)

%div{:class => 'well', :id => 'groupEditForm'}
  = form_tag group_path(@group), :method => :put do

    = label :group, :name, 'Group Name'
    = text_field :group, 'name'

    = label :group, :description, 'Description'
    = text_area :group, 'description'
    %br
    = submit_tag 'Update Group Info', :class => 'btn btn-primary'
